.hadeer{
    width: 100%;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.nada{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

@media(max-width: 576px){
.nada{
        flex-direction: column;
    }
}

.kil{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 15px;
}

@media(max-width: 576px){
.kil{
        width: 90%;
        
    }
}
.gf{
    color:#000000 ;
    font-size: 48px;
    font-weight:700 ;
}

@media(max-width: 576px){
.gf{
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
}

.ppp{
    font-size: 24px;
    font-weight:700px ;
    color: #000000;
    margin: 0px;
}
.btbot{
    padding: 16px 54px;
    border-radius: 64px;
    background-color: #00000002;
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
    border: solid 1px  gray;
}

.diid{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 10vh;
    padding-top: 60px;
}