.mysec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: #000000;
}

@media(max-width: 576px){
.mysec{
        height: 35vh;
    }
}


.mysec .mydidi{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 12vh;
    padding:30px 20px ;    
}

@media(max-width: 576px){
.mysec .mydidi{
    flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 120px;
      gap: 20px;
    }
}
.mysec .mydidi div{
    width: 15%;
    height: 12vh;
}


@media(max-width: 576px){
.mysec .mydidi div{
    width: 10%;
    height: 20vh;
      
    }
}
.mysec .mydidi img{
    width: 120px;
    height: 25px;

}
