.seccat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

@media(max-width: 576px){
.seccat{
        
    }
}
.seccat1{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

@media(max-width: 576px){
.seccat1{
        width: 90%;
    }
}
.heading6{
    width: 50%;
}

.heading6 h1{
    font-size: 32px;
    margin: 0px;
    font-weight: 700px;
}

@media(max-width: 576px){
.heading6 h1{
        font-size: 25px;
    }
}
.img6{
    width: 30%;
    padding-right: 435px;
    margin-top: 10px;
   
}


@media(max-width: 576px){
.img6{
        width: 20px;
    }
}
