.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-image: url(../../assets/Rectangle\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 576px){
.hero{
        flex-direction: column;
        width: 100%;
        height: 600px;
        background-size: cover;
        padding-top: 20px;
    }
}
.hero .bigdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding-left: 100px;
    padding-top: 40px;
}

@media(max-width: 576px){
.hero .bigdiv{
        flex-direction: column;
        padding-left:0;
        padding-top: 0px;
        gap: 40px;
    }
}

.hero .bigdiv .counter{
    width: 60%;
    height:70vh ;

}

@media(max-width: 576px){
.hero .bigdiv .counter{
     width: 100%;
     gap: 10px;
     height: 500px;
    }
}

.hero .bigdiv .imges{
    display:flex;
    width: 40%;
    height: 50vh;
}

@media(max-width: 576px){
.hero .bigdiv .imges{
    height: 70vh;
   
    } 
}
.hero .bigdiv h1{
    font-size: 64px;
    line-height: 64px;
}

@media(max-width: 576px){
.hero .bigdiv h1{
   font-size: 30px;
   line-height: 35px;
    }
}

.mycount{
    display: flex;
    padding-top: 20px;
    width: 100%;
    height: 400px;
    gap: 40px;
}


@media(max-width: 576px){
.mycount{
   gap: 10px;
   height: 200px;
   padding-top: 0px;
    }
}
.h3{
    font-size: 10px;
    font-weight: 700px;
    color: #000000;
    margin: 0px;
}

@media(max-width: 576px){
.h3{
   font-size: 5px;
   line-height: 35px;
    }
}
.mycount p{
    color:#00000099;
    font-size: 20px;
}

@media(max-width: 576px){
.mycount p{
   font-size: 11px;
   line-height: 15px;
    }
}

.heroooo{
    color: #00000099;
    font-size: 16px;
    width: 70%;
}
.shhop{
    font-size:62px ;
    border-radius: 62px;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight: 500px;
    background-color: #000000;
    padding:16px 54px ;
}