.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    position: relative;
}

@media(max-width: 576px){
.footer{
        height: 170vh;
        padding-top: 300px;
    }
}
.footer .minifoter{
    width: 85%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media(max-width: 576px){
.footer .minifoter{
        flex-direction: column;
        height: 150vh;
        width: 100%!important;
    }
}
.bigtext{
    width: 80%;
}
.minifoter h3{
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 40px;
    color: #000000;
}
.bigtext .logo{
    font-size: 34px;
    font-weight: 700px;
    text-decoration: solid;
    margin: 0px;
}
.footer .minifoter div{
    width: 60%;
    padding-top: 50px;
}

@media(max-width: 576px){
.footer .minifoter div{
    width: 100%;
    padding-top: 0px;
        
    }
}
.footer .minifoter .bigtext{
    width: 100%;
}

.bigtext .vb{
    color: #00000099;
    font-size: 14px;
    font-weight: 400px;
    line-height: 22px;
    width: 70%;
}
.footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

@media(max-width: 576px){
.footer ul{
    gap: 5px;
    }
}

.footer a{
    text-decoration: none;
    color: #00000099;
}
.child{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    width: 85%;
    height: 25vh;
    background-color:#000000;
    border-radius: 20px;
    position: absolute;
    top: -90px;
}

@media(max-width: 576px){
    .child{
        flex-direction: column;
        width: 98%;
        height: 50vh;
       
    }
}
.child .heading{
    width: 40%;
    height: 20vh;
}

@media(max-width: 576px){
    .child .heading{
       width: 100%;
    }
}
.child .heading h1{
    font-size: 40px;
    font-weight: 700px;
    line-height: 45px;
    text-decoration: solid;
    color: #FFFFFF;
}

@media(max-width: 576px){
    .child .heading h1{
    font-size: 32px;
    line-height: 35px;
    }
}

.child .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 35%;
    height: 15vh;
    padding-top: 20px;
}

@media(max-width: 576px){
    .child .second{
       width: 100%;
       padding-top: 0px;
    }
}

.child .input{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: #FFFFFF;
    border-radius: 62px;
    padding: 12px 16px;
    gap: 10px;
}

.child img{
    width: 30px;
    height: 30px;
}
.child .input .myinput{
    border: transparent;
    font-weight: 400px;
    
    font-size: 16px;
    color: #00000066;
}
.child .btn6{
    width: 100%;
    height: 30vh;

}
.child .btn6 button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 64px;
    width: 100%;
    height: 7vh;
}

.copywrite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding-left: 110px;
    padding-right: 100px;
    background-color: #F0F0F0;
}

@media(max-width: 576px){
.copywrite{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
       
    }
}
.copywrite img{
    width: 300px;
    height: 7vh;
}
.copywrite .copy{
    width: 50%;

}

@media(max-width: 576px){
.copywrite .copy{
        width: 80%;
       
    }
}
.copywrite .pay{
    display: flex;
    justify-content: end;
    width: 50%;

}


@media(max-width: 576px){
.copywrite .pay{
       justify-content: center;
       
    }
}

.copywrite p{
    font-size: 14px;
    color: #00000099;
}
.spacer{
    width: 85%;
    border: solid 1px #0000001A;
    margin: auto;
    background-color: #F0F0F0;
}
.papa{
    width: 100%;
    background-color: #F0F0F0 ;
}

