.review12{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.review12 .rev{
    width: 90%;
    display: flex;
    gap: 30px;
}

@media(max-width: 576px){
.review12 .rev{
        width: 100%;
       flex-direction: column;
    }
}
.rev .review{
    width: 40%;
    border-radius: 20px;
    border:  solid 1px #0000001A;
    padding: 28px 32px;
}

@media(max-width: 576px){
.rev .review{
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
  
    }
}
.h22 {
    display: flex;
    color:#000000;
    font-size: 30px;
    font-weight: 70px;
    width: 100%;
    justify-content: start;
    padding-left: 80px;
}

@media(max-width: 576px){
.h22{
        font-size: 20px;
        padding-left: 30px;
        margin-top: 20px;
        line-height: 40px;
    }
}